hARdware/Packages/com.ptc.vuforia.engine-10.13.3.tgzhistory filter=lfs diff=lfs merge=lfs -text
tcc_bcc_2023_1_HenriqueDelegrego/Fontes/hARdware/Packages/com.ptc.vuforia.engine-10.13.3.tgz filter=lfs diff=lfs merge=lfs -text
